<div class="project_list">
  <div class="head">
    <img src="assets/projects.png" alt="projects" class="head_image" />
    <h1 class="head_title">
      Our environmental projects are providing many environmental benefits
      around the world
    </h1>
  </div>
  <div class="tile_container">
    <div class="tile" *ngFor="let item of projectList">
      <div class="tile_image">
        <div class="tile_buy_container">
          <button class="tile_buy_btn" *ngIf="item.buy">Buy Now</button>
          <div class="tile_price" *ngIf="item.buy">
            <h6>{{ item.price }}</h6>
          </div>
        </div>
        <div class="tile_place">
          <h1>{{ item.place }}</h1>
        </div>
      </div>
      <div class="tile_content">
        <div class="tile_name">
          <h2>{{ item.name }}</h2>
        </div>
        <div class="tile_space">
          <h2>{{ item.space }}</h2>
        </div>
        <div class="tile_description">
          <h3>{{ item.description }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <StackLayout class="project_list">
      <WrapLayout orientation="horizontal">
        <StackLayout *ngFor="let item of projectList" width="100%">
          <GridLayout rows="200,*" columns="*" class="tile">
            <GridLayout
              #tileImage
              row="0"
              col="0"
              rows="*,*,auto"
              columns="2*,*"
              class="tile_image"
            >
              <StackLayout row="0" col="1">
                <button
                  *ngIf="item.buy"
                  text="Buy Now"
                  class="tile_buy_btn"
                ></button>
              </StackLayout>
              <StackLayout row="1" col="1">
                <Label
                  *ngIf="item.buy"
                  class="tile_price"
                  [text]="item.price"
                  textWrap="true"
                  horizontalAlignment="center"
                ></Label>
              </StackLayout>
              <StackLayout row="2" col="0" class="tile_place_container">
                <Label
                  [text]="item.place"
                  textWrap="true"
                  class="tile_place"
                  horizontalAlignment="left"
                ></Label>
              </StackLayout>
            </GridLayout>
            <StackLayout row="1" col="0" class="tile_content">
              <Label [text]="item.name" textWrap="true" class="tile_name"></Label>
              <Label
                [text]="item.space"
                textWrap="true"
                class="tile_space"
              ></Label>
              <Label
                [text]="item.description"
                textWrap="true"
                class="tile_description"
              ></Label>
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </WrapLayout>
  </StackLayout> -->
