<div class="project_list">
  <div class="head">
    <img src="assets/projects.png" alt="projects" class="head_image" />
    <h1 class="head_title">
      Our environmental projects are providing many environmental benefits
      around the world
    </h1>
  </div>
  <div class="tile_container">
    <div class="tile" *ngFor="let item of projectList">
      <div class="tile_image">
        <div class="tile_buy_container">
          <button class="tile_buy_btn" *ngIf="item.buy">Buy Now</button>
          <div class="tile_price" *ngIf="item.buy">
            <h6>{{ item.price }}</h6>
          </div>
        </div>
        <div class="tile_place">
          <h1>{{ item.place }}</h1>
        </div>
      </div>
      <div class="tile_content">
        <div class="tile_name">
          <h2>{{ item.name }}</h2>
        </div>
        <div class="tile_space">
          <h2>{{ item.space }}</h2>
        </div>
        <div class="tile_description">
          <h3>{{ item.description }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>